@model InformeTqERegiao.Entidades.Problema

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center" style="color:#dc3545;">Problemas</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" style="background-color:#f7f7f7; color:#dc3545; font-weight:bold; border-radius:5px; border-width:medium; border-style:solid; border-color:#dc3545; margin-top:5px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="problema" class="control-label"></label>
                <input asp-for="problema" class="form-control" style="margin-top:12px; margin-left:2px; margin-right:2px; border-radius:5px; border-color:#dc3545; " />
                <span asp-validation-for="problema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" style="margin-top:12px; margin-left:2px; margin-right:2px; border-radius:5px; border-color:#dc3545; " />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paginaemquestao" class="control-label"></label>
                <input asp-for="paginaemquestao" class="form-control" style="margin-top:12px; margin-left:2px; margin-right:2px; border-radius:5px; border-color:#dc3545; " />
                <span asp-validation-for="paginaemquestao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-danger btn-sm" style="margin-top:5px; margin-bottom:5px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">De volta a lista</a>
</div>
