@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Outras Cidades</title>
    
</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Nossas Cidades !
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/cidades/matao.jpg" style="width:250px;" alt="Matão-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Matão</h5>
                                        <p class="card-text">Verifique os mais diferentes estabelecimentos em nossas cidades</p>
                                        <a href="../Matao/Matao">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/cidades/jaboticabal.jpg" style="width:250px;" alt="Jaboticabal-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Jaboticabal</h5>
                                        <p class="card-text">Verifique os mais diferentes estabelecimentos em nossas cidades</p>
                                        <a href="../Cards/Servicos">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/cidades/itapolis.jpg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Itápolis</h5>
                                        <p class="card-text">Verifique os mais diferentes estabelecimentos em nossas cidades</p>
                                        <a href="../Cards/Servicos">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/cidades/itapolis.jpg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Monte Alto</h5>
                                        <p class="card-text">Verifique os mais diferentes estabelecimentos em nossas cidades</p>
                                        <a href="../Cards/Servicos">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>