<h3 class="text-center" style="color:#dc3545;">Estabelecimento resgistrado com sucesso !</h3>
<h5 class="text-center" style="color:#dc3545;">Seu pedido será enviado para análise e embreve entraremos em contato para discutir a implementação</h5>
<br />
<br />
<div class="col-12 text-center">
    <img src="/imgs/check.png" alt="check de sucesso de cadastro de estabelecimento" style="width:250px;" />
</div>
<br />
<br />

<div class="col-12 text-center">
    <a href="/Home/Index">
        <button class="btn btn-outline-danger" style="width:300px;">Voltar ao Início</button>
    </a>
</div>
