
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Cama Mesa e Banho</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Cama Mesa e Banho
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/pernambucanas.png" style="width:250px;" alt="Loja Pernanbucanas">
                                    <div class="card-body">
                                        <h5 class="card-title">Pernambucanas</h5>
                                        <p class="card-text">Conheça as lojas para casa próximas a você</p>
                                        <a href="#">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/novacortilar.jpg" style="width:250px;" alt="Loja Cortilar">
                                    <div class="card-body">
                                        <h5 class="card-title">Cortilar</h5>
                                        <p class="card-text">Conheça as lojas para casa próximas a você</p>
                                        <a href="#">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/Cama-mesa-banho.jpg" style="width:250px;" alt="Loja da Casa">
                                    <div class="card-body">
                                        <h5 class="card-title">Loja da Casa</h5>
                                        <p class="card-text">Conheça as lojas de produtos para a casa próximas a você</p>
                                        <a href="#">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/aurora.jpg" style="width:250px;" alt="Aurora">
                                    <div class="card-body">
                                        <h5 class="card-title">Aurora Confecção</h5>
                                        <p class="card-text">Conheça as lojas para a casa próximas a você</p>
                                        <a href="#">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>