@model InformeTqERegiao.Entidades.estabelecimento

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center" style="color:#dc3545;">Criar Estabelecimento</h4>
<h6 class="text-center" style="color:#dc3545;">Inscreva aqui seu estabelecimento para a análise e posteriormente implementação</h6>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" class="text-center" style="background-color:#f7f7f7; color:#dc3545; font-weight:bold; border-radius:5px; border-width:medium; border-style:solid; border-color:#dc3545; margin-top:5px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" style="margin-top:12px; margin-left:20px; margin-right:2px; border-radius:5px; border-color:#dc3545; width:300px; height:30px; " />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="genero" class="control-label"></label>
                <input asp-for="genero" class="form-control" style="margin-top:12px; margin-left:20px; margin-right:2px; border-radius:5px; border-color:#dc3545; width:300px; height:30px; " />
                <span asp-validation-for="genero" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" style="margin-top:12px; margin-left:20px; margin-right:2px; border-radius:5px; border-color:#dc3545; width:300px; height:30px; " />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Criar" class="btn btn-outline-danger btn-sm" style="margin-top:5px; margin-bottom:5px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">De volta a lista</a>
</div>

