
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Farmácias</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Farmácias
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/drogaraia.jpg" style="width:250px;" alt="Matão-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Droga Raia</h5>
                                        <p class="card-text">Visite a farmácia</p>
                                        <a href="../Farmacias/DrogaRaia">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/farmalar.jpg" style="width:250px;" alt="Jaboticabal-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Farmalar</h5>
                                        <p class="card-text">Visite a farmácia</p>
                                        <a href="/Farmacias/Farmalar">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/drogacentro.jpg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Droga Centro</h5>
                                        <p class="card-text">Visite a farmácia</p>
                                        <a href=" /Farmacias/DrogaCentro">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/farmacenter.jpg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Farma Center</h5>
                                        <p class="card-text">Visite a farmácia</p>
                                        <a href="/Farmacias/FarmaCenter">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>
