
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Supermercados</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Supermercados
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/carvalho.jpeg" style="width:250px;" alt="Matão-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Carvalho-Loja 1</h5>
                                        <p class="card-text">Supermercado Carvalho loja 1</p>
                                        <a href="../Supermercados/CarvalhoUm">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/carvalho2.jpeg" style="width:250px;" alt="Jaboticabal-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Carvalho-Loja 2</h5>
                                        <p class="card-text">Supermercado Carvalho loja 2</p>
                                        <a href="/Supermercados/CarvalhoDois">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/ipiranga.jpeg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Ipiranga loja 1</h5>
                                        <p class="card-text">Supermercado Ipiranga loja 1</p>
                                        <a href="/Supermercados/IpirangaUm">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/ipiranga2.jpeg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Ipiranga loja 2</h5>
                                        <p class="card-text">Supermercado Ipiranga loja 2</p>
                                        <a href="/Supermercados/IpirangaDois">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <br />
        <br />
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/ipiranga3.jpeg" style="width:250px;" alt="Matão-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Ipiranga loja 3</h5>
                                        <p class="card-text">Supermercado Ipiranga loja 3</p>
                                        <a href="../Supermercados/IpirangaTres">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/vencedor.jpeg" style="width:250px;" alt="Jaboticabal-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Vencedor</h5>
                                        <p class="card-text">Vencedor Atacadista</p>
                                        <a href="/Supermercados/Vencedor">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/dia.jpeg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Supermercado Dia</h5>
                                        <p class="card-text">Supermercado Dia</p>
                                        <a href="/Supermercados/Dia">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/iquegami.jpeg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Iquegami</h5>
                                        <p class="card-text">Supermercado Iquegami</p>
                                        <a href="/Supermercados/Iquegami">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>

    </main>
</body>
</html>