
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Lazer</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Compras
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/Supermercado.jpg" style="width:250px;" alt="Matão-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Supermercados</h5>
                                        <p class="card-text">Conheça os supermercados próximos a você</p>
                                        <a href="../Estabelecimento/Supermercados">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/roupas.jpg style="width:250px;" alt="Jaboticabal-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Lojas de Roupa</h5>
                                        <p class="card-text">Conheça as lojas de roupa próximas a você</p>
                                        <a href="/Estabelecimento/Lojasderoupa">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/Cama-mesa-banho.jpg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Cama, mesa e banho</h5>
                                        <p class="card-text">Conheça as lojas de produtos para a casa próximas a você</p>
                                        <a href="" /Estabelecimento/Camamesaebanho"">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/servicos.jpg" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Construção e utensilios domésticos</h5>
                                        <p class="card-text">Conheça as lojas de produtos para a casa próximas a você</p>
                                        <a href="/Estabelecimento/Construcaoeutensiliosdomesticos">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/vaiedades.png" style="width:250px;" alt="Itapolis-SP">
                                    <div class="card-body">
                                        <h5 class="card-title">Variedades</h5>
                                        <p class="card-text">Conheça as lojas de variedades próximas a você</p>
                                        <a href="/Estabelecimento/Variedades">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>