
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Lazer</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Lazer
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/restaurantes.png" style="width:250px;" alt="Restaurantes">
                                    <div class="card-body">
                                        <h5 class="card-title">Restaurantes</h5>
                                        <p class="card-text">Conheça os restaurantes próximos a você</p>
                                        <a href="../Lazer/Restaurantes">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/sorveteriasn.jpeg" style="width:250px;" alt="Sorveterias">
                                    <div class="card-body">
                                        <h5 class="card-title">Sorveterias</h5>
                                        <p class="card-text">Conheça as sorveterias próximas a você</p>
                                        <a href="/Lazer/Sorveterias">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/baresn.jpeg" style="width:250px;" alt="Bares">
                                    <div class="card-body">
                                        <h5 class="card-title">Bares</h5>
                                        <p class="card-text">Conheça os Bares próximos a você</p>
                                        <a href="Lazer/Bares">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/restaurantesn.jpeg" style="width:250px;" alt="Áreas de Lazer">
                                    <div class="card-body">
                                        <h5 class="card-title">Áreas de lazer</h5>
                                        <p class="card-text">Conheça as áreas de lazer próximas a você</p>
                                        <a href="/Lazer/Areas">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>