@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Saúde</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Saúde
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/farmacia.jpg" style="width:250px;" alt="Farmácia">
                                    <div class="card-body">
                                        <h5 class="card-title">Farmácias</h5>
                                        <p class="card-text">Visite as farmácias próximas a você</p>
                                        <a href="../Estabelecimento/Farmacias">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/hospital.jpg" style="width:250px;" alt="Hospitais">
                                    <div class="card-body">
                                        <h5 class="card-title">Hospitais</h5>
                                        <p class="card-text">Visite hospitais próximos a você</p>
                                        <a href="/Estabelecimento/Hospitais">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>

        

    </main>
</body>
</html>