@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Serviços</title>

</head>
<body>
    <main>
        <section>
            <main class="cards">
                <div id="team-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="main-title">
                                    Serviços
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/mototaxin.jpeg" style="width:250px;" alt="Mototaxi">
                                    <div class="card-body">
                                        <h5 class="card-title">Mototáxi</h5>
                                        <p class="card-text">Conheça os mototáxis próximos a você</p>
                                        <a href="../Lazer/Restaurantes">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/rodoviarian.jpeg" style="width:250px;" alt="Rodoviária">
                                    <div class="card-body">
                                        <h5 class="card-title">Rodoviária</h5>
                                        <p class="card-text">Conheça a rodoviária da cidade</p>
                                        <a href="/Lazer/Sorveterias">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/prefpoupa.jpeg" style="width:250px;" alt="Prefeitura">
                                    <div class="card-body">
                                        <h5 class="card-title">Prefeitura</h5>
                                        <p class="card-text">Conheça a prefeitura da cidade</p>
                                        <a href="Lazer/Bares">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card text-center" style="width:250px;">
                                    <img src="/imgs/prefpoupa.jpeg" style="width:250px;" alt="Poupa tempo">
                                    <div class="card-body">
                                        <h5 class="card-title">Poupa Tempo</h5>
                                        <p class="card-text">Conheça o poupa tempo da cidade</p>
                                        <a href="/Lazer/Areas">
                                            <button class="btn btn-outline-danger btn-lg" style="text-align:center;">Conferir</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>
