@{
    Layout = "_Layout";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Login Realizado com sucesso !</h1>
<br />
<p>Ir para a página inicial</p>
<br />
<a href="/Main/Index">
    <button>Voltar ao início</button>
</a>