body {
}

.conteinercard{
    display:flex;
    flex-direction:row;
}

.card{
    align-items:flex-start;
    justify-content:flex-start;
}

#carouselExampleCaptions .carousel-indicators{
    background-color: #f7f7f7f7;
}
 