@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="InformeTq Região Companhy" />
        <meta name="keywords" content="ITQ Região " />
        <meta name="author" content="Alan Devincola, Julia " />
        <link rel="stylesheet" href="~/css/homeindex.css" />
       

        <title>@ViewData["Title"] - Inicio</title>
       
</head>
<body>

    <div class="text-center my-5">

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

            <div class="carousel-indicators" >
                <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img src="/imgs/SLIDE1.png" class="d-block w-100 mx-auto" alt="Primeiro slide do carrosel" style="height:350px;">
                    <div class="carousel-caption d-none d-md-block text-black">
                      
                    </div>

                </div>

                <div class="carousel-item">

                    <img src="/imgs/SLIDE2.png" class="d-block w-100 mx-auto" alt="Segundo slide do carrosel" style="height:350px; object-fit:cover">

                    <div class="carousel-caption d-none d-md-block text-black">
                        
                    </div>

                </div>

                <div class="carousel-item">
                    <img src="/imgs/SLIDE3.png" class="d-block w-100 mx-auto" alt="Terceiro slide do carrosel" style="height:350px; object-fit:cover">

                    <div class="carousel-caption d-none d-md-block text-black">
                      
                    </div>
                </div>

                <div class="carousel-item">

                    <img src="/imgs//SLIDE4.png" class="d-block w-100 mx-auto" alt="Quarto slide do carrosel" style="height:350px; object-fit:cover;">

                    <div class="carousel-caption d-none d-md-block text-black">
                       
                    </div>
                </div>

            </div>
        </div>
    </div>

        <main class="cards">
            <section>
                <div class="containercard" style="text-align:center;">
                    <div class="card d-inline-block" style="width: 14rem; margin: 10px">
                        <img src="/imgs/farmacia.png" class="card-img-top" alt="Card de Saúde">
                        <div class="card-body">
                            <h5 class="card-title">Saúde</h5>
                            <p class="card-text">Confira os hospitais e farmácias da cidade! </p>
                            <a href="../Cards/Saude" class="btn btn-outline-danger btn-lg">Conferir</a>
                        </div> 
                    </div>

                    <div class="card d-inline-block" style="width: 14rem; margin: 10px">
                        <img src="/imgs/compras.jpeg" class="card-img-top" alt="Card de Compras">
                        <div class="card-body">
                            <h5 class="card-title">Compras</h5>
                            <p class="card-text">Confira as opções de compras no comércio!</p>
                            <a href="../Cards/Compras" class="btn btn-outline-danger btn-lg">Conferir</a>
                        </div>
                    </div>

                    <div class="card d-inline-block" style="width: 14rem; margin: 10px">
                        <img src="/imgs/diversao.png" class="card-img-top" alt="Card de Lazer">
                        <div class="card-body">
                            <h5 class="card-title">Lazer</h5>
                            <p class="card-text">Confira as opções de lazer na cidade!</p>
                            <a href="../Cards/Lazer" class="btn btn-outline-danger btn-lg">Conferir</a>
                        </div>
                    </div>

                    <div class="card d-inline-block" style="width: 14rem; margin: 10px">
                        <img src="/imgs/serviços.png" class="card-img-top" alt="Card de Serviços">
                        <div class="card-body">
                            <h5 class="card-title">Serviços</h5>
                            <p class="card-text">Confira as opções de serviços na cidade!</p>
                            <a href="../Cards/Servicos" class="btn btn-outline-danger btn-lg">Conferir</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <br />
        <br />

    <main class="sobre">
        <section>
            <div id="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="main-title">Sobre Nós</h3>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid" src="/imgs/logonova.png" alt="Imagem da sessão sobre nós">
                            <br />
                            <br />
                            <ul id="about-list" style="margin-left:12px;">
                                <li><i class="fas fa-check">Site dedicado a anunciar os estabelecimentos de nossa cidade</i></li>
                                <li><i class="fas fa-check">Encontre tudo aquilo que você precisa em sua cidade</i></li>
                                <li><i class="fas fa-check">Anuncie seu estabelecimento e ganhe engajamento</i></li>
                                <li><i class="fas fa-check">Conheça novas opções para seu consumo e lazer</i></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="about-title">Nos ajudando a encontrar tudo aquilo que precisamos</h3>
                            <p>O objetivo do InformeTQeREgião é justamente ajuda-los com uma maior facilidade a encontrar o que deseja! Somos viajantes e sabemos o quao importante é conhecer a area de destino e por esse motivo expandimos para outros usuarios. Afinal, quem nunca se perdeu no caminho não é mesmo?</p>
                            <p>Caminhar sem rumo as vezes complica! Há vivencias que foram desesperadoras no momento e que hoje são risadas. Vá preparado e a tranquilidade reinará.</p>
                            <p>Decidimos ajuda-los, criamos o projeto no ano de 2021 e estamos em completo desenvolvimento visando a praticidade para VOCÊ, caro usuario muito obrigada!.</p>
                            <p>DIVIRTAM-SE!</p>
                            <p>Att. Allan e Julia</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <br>
    <br>

    <main class="serviços da empresa">
        <div id="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="main-title">Nossas especialidades</h3>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h5 style="color:#dc3545;">Exibir os estabelecimentos locais</h5>
                        <p>Utilizamos o poder da internet para ajuda-lo em suas buscas</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h5 style="color:#dc3545;">Ajudar a guiar as pessoas até seus destinos desejados</h5>
                        <p>Queremos concedor o serviço mais detalhado disponível em sua busca por informações</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h5 style="color:#dc3545;">Analisar e Registrar os estabelecimentos locais</h5>
                        <p>Dar poder ao seu negócio e ajuda-lo a crescer junto com a cidade !</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h5 style="color:#dc3545;">Manter um site com informações uteis e atualizadas</h5>
                        <p>Disponibilizar a comunidade um serviço de utilidade pública</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h5 style="color:#dc3545;">Receber e aplicar em nosso software o feedback da comunidade</h5>
                        <p>Como a voz do povo é a voz de deus queremos ouvir a sua para poder construir um ecosistema cada vez mais dinâmico</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h5 style="color:#dc3545;">Ajudar a construir uma comunidade mais inclusiva e conectada</h5>
                        <p>Ínformações cada vez mais refindas para ajuda-lo a aproveitar seu tempo.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>


     
</body>
</html>
