<h3 class="text-center" style="color:#dc3545;">Usuário resgistrado com sucesso !</h3>
<br />
<br />
<div class="col-12 text-center">
    <img src="/imgs/check.png" alt="check de sucesso de cadastro de estabelecimento" style="width:250px;" />
</div>
<br />
<br />

<div class="col-12 text-center">
    <a href="/Login/Entrar">
        <button class="btn btn-outline-danger" style="width:300px;">Faça o Login</button>
    </a>
</div>
