@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="InformeTq Região Companhy" />
    <meta name="keywords" content="ITQ Região " />
    <meta name="author" content="Alan Devincola, Julia " />


    <title>@ViewData["Title"] - Inicio</title>

</head>
<body>
    <h1 class="text-center" style="color:#dc3545;">Matão</h1>
    <main class="cards">
        <section>
            <div class="containercard" style="text-align:center;">
                <div class="card d-inline-block" style="width: 14rem;">
                    <img src="/imgs/farmacia.png" class="card-img-top" alt="Card de Saúde">
                    <div class="card-body">
                        <h5 class="card-title">Saúde</h5>
                        <p class="card-text">Confira os hospitais e farmácias da cidade! </p>
                        <a href="../Cards/Saude" class="btn btn-outline-danger btn-lg">Conferir</a>
                    </div>
                </div>

                <div class="card d-inline-block" style="width: 14rem;">
                    <img src="/imgs/comida.png" class="card-img-top" alt="Card de Compras">
                    <div class="card-body">
                        <h5 class="card-title">Compras</h5>
                        <p class="card-text">Confira as opções de compras no comércio!</p>
                        <a href="../Cards/Compras" class="btn btn-outline-danger btn-lg">Conferir</a>
                    </div>
                </div>

                <div class="card d-inline-block" style="width: 14rem;">
                    <img src="/imgs/diversao.png" class="card-img-top" alt="Card de Lazer">
                    <div class="card-body">
                        <h5 class="card-title">Lazer</h5>
                        <p class="card-text">Confira as opções de lazer na cidade!</p>
                        <a href="../Cards/Lazer" class="btn btn-outline-danger btn-lg">Conferir</a>
                    </div>
                </div>

                <div class="card d-inline-block" style="width: 14rem;">
                    <img src="/imgs/serviços.png" class="card-img-top" alt="Card de Serviços">
                    <div class="card-body">
                        <h5 class="card-title">Serviços</h5>
                        <p class="card-text">Confira as opções de serviços na cidade!</p>
                        <a href="../Cards/Servicos" class="btn btn-outline-danger btn-lg">Conferir</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <br />
    <br />

    <main class="sobre">
        <section>
            <div id="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="main-title">Sobre Nós</h3>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid" src="/imgs/logonova.png" alt="Imagem da sessão sobre nós">
                        </div>
                        <div class="col-md-6">
                            <h3 class="about-title">Nos ajudando a encontrar tudo aquilo que precisamos</h3>
                            <p>O objetivo do InformeTQeREgião é justamente ajuda-los com uma maior facilidade a encontrar o que deseja! Somos viajantes e sabemos o quao importante é conhecer a area de destino e por esse motivo expandimos para outros usuarios. Afinal, quem nunca se perdeu no caminho não é mesmo?</p>
                            <p>Caminhar sem rumo as vezes complica! Há vivencias que foram desesperadoras no momento e que hoje são risadas. Vá preparado e a tranquilidade reinará.</p>
                            <p>Allan e eu(Julia) decidimos ajuda-los, criamos o projeto no ano de 2021 e estamos em completo desenvolvimento visando a praticidade.</p>
                            <p>DIVIRTAM-SE!</p>
                            <p>Att. Allan e Julia</p>
                            <ul id="about-list">
                                <li><i class="fas fa-check">aaaaaaaaaaaaaaaaaa</i></li>
                                <li><i class="fas fa-check">aaaaaaaaaaaaaaaaaa</i></li>
                                <li><i class="fas fa-check">aaaaaaaaaaaaaaaaaa</i></li>
                                <li><i class="fas fa-check">aaaaaaaaaaaaaaaaaa</i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <main class="serviços da empresa">
        <div id="services-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="main-title">Nossas especialidades</h3>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 style="color:#dc3545;">Aplicativos nativos</h4>
                        <p>Utilizamos o poder dos dispositivos móveis construindo aplicativos nativos</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 style="color:#dc3545;">Aplicativos nativos</h4>
                        <p>Utilizamos o poder dos dispositivos móveis construindo aplicativos nativos</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 style="color:#dc3545;">Aplicativos nativos</h4>
                        <p>Utilizamos o poder dos dispositivos móveis construindo aplicativos nativos</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 style="color:#dc3545;">Aplicativos nativos</h4>
                        <p>Utilizamos o poder dos dispositivos móveis construindo aplicativos nativos</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 style="color:#dc3545;">Aplicativos nativos</h4>
                        <p>Utilizamos o poder dos dispositivos móveis construindo aplicativos nativos</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 style="color:#dc3545;">Aplicativos nativos</h4>
                        <p>Utilizamos o poder dos dispositivos móveis construindo aplicativos nativos</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>